<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <nav> 
            <ul>
                <li>
                    <a href='/list'>Home</a>
                    <a href='/bought'>Purchased</a>
                    <a href='not_bought'>Still to Buy</a>
                </li>
            </ul>
        </nav>
        {%block content%}

        {% endblock%}
        <div> <a href='/bought'>
            <button>Already bought</button>
        </a>
        <a href='/not_bought'>
            <button>Still to buy</button>
        </a>
        </div>
    </body>
    <footer>
        <h6 style="color: yellow"> Shopping Lists 4 u &copy; </h6>
    </footer>
    </html>